body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: linear-gradient(to bottom, #2a00c2, #3500f3, #00bad2);

    background-attachment: fixed;
}

hr {
    width: 30%;
    height: 3px;
    border-radius: 5px;
    background: radial-gradient(circle, #30bad2, transparent);
    border: none;
    text-shadow: 0 0 25px rgb(1, 255, 234);

}

h1 {
    font-size: 60px;
    text-shadow: 0 0 25px rgb(1, 255, 234);
}

p {
    text-shadow: 0 0 15px rgb(1, 255, 234);
}

.cartoes {
    background: radial-gradient(circle, #00e1ffcd, #1b007c);
    width: 250px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    gap: 20px;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, .4);
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;

}

.cartoes:hover {
    transform: translateY(-15px);
}

.produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.botao {
    background: transparent;
    border-radius: 15px;
    width: 250px;
    height: 300px;
    border: none;
    margin-top: 10px;
    position: absolute;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;

}

.letra {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 0 0 25px rgb(1, 255, 234);

}

.moldura {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0px 0px 8px 2px rgb(255, 255, 255);
}

.secoes {
    background: linear-gradient(circle, #2bff00, #3905f5);
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

footer {
    color: rgb(6, 0, 88);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 16px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.social {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 22px;
}
